In [ ]:
CREATE KEYSPACE test WITH REPLICATION = { 'class' : 'NetworkTopologyStrategy' }

In [ ]:
use test

In [ ]:
drop table emp

In [ ]:
CREATE TABLE emp(
   id int PRIMARY KEY,
   name text,
   city text,
   phone varint
   );

In [ ]:
INSERT INTO emp (id,name,city,phone) VALUES( 1, 'John', 'Washington, DC', 2129992122)

In [ ]:
select * from emp;

In [ ]:
describe table emp